<div class="container mt-5" *ngIf="!registerMode">
    <div style="text-align: center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
            </header>
            
            <main role="main" class="inner cover">
                <h1 class="cover-heading">E-QuizBee</h1>
                <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
                <p class="lead">
                    <button class="btn btn-lg btn-success" (click)="registerToggle()">Register</button>
                </p>
            </main>
        </div>
    </div>
</div>
<div class="container" *ngIf="registerMode">
    <div class="row justify-content-center">
        <div class="col-4">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
    </div>
</div>